<h3>Create Review</h3>
<%= form_tag("/create") do %>
    <div class="form-group">
        <%= label_tag "form-title","Title" %>
        <%= text_field :books, :title, id:"form-title",class:"form-control", placeholder:"title" %>
    </div>
    <div class="form-group">
        <%= label_tag "form-content","Content" %>
        <%= text_field :books, :body, id:"form-content",class:"form-control",placeholder:"content" %>
    </div>
    <div class="form-group">
        <%= label_tag "form-rank","Rank" %>
        <%= select_tag 'books[rank_id]', options_from_collection_for_select(@ranks, :id, :level),id:"form-rank",class:"form-control" %>
    </div>
    <%= submit_tag "Create",class:"btn btn-primary" %>
<% end %>